# deps
node_modules
.pnpm-store

# build
.next
out
dist
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.*.local
.env.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# editor
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store

# prisma
prisma/migrations/dev.db*

# coverage
coverage
.vitest

# misc
.cache
